.contentTypesStat {
  .statistics-cards {
    justify-content: space-between;
  }

  .statistic {
    flex: 0 0 300px;
    width: 300px;
    margin: 24px 12px;
  }

  .feature-img {
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
  }

  .feature-title {
    font-size: 45px;
    margin: 0;
  }

  .feature-description {
    font-size: 24px;
  }
}

@media (max-width: 1250px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }
    .statistic {
      flex: 0 0 250px;
      width: 250px;
    }
  
    .feature-img {
      height: 250px;
      width: 250px;
    }
  
    .feature-title {
      font-size: 35px;
      margin: 0;
    }
  
    .feature-description {
      font-size: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }
    .statistic {
      flex: 0 0 200px;
      width: 200px;
    }
  
    .feature-img {
      height: 200px;
      width: 200px;
    }
  
    .feature-title {
      font-size: 35px;
      margin: 0;
    }
  
    .feature-description {
      font-size: 20px;
    }
  }
}

.faq {
  details {
    min-height: 5px;
    max-width: 700px;
    padding: 24px 48px 24px 24px;
    margin: 0 auto;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
    summary {
      margin-bottom: 25px;
    }
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  summary::-webkit-details-marker {
    display: none
  }
}

.partners {
  .media-left {
    width: 150px;
  }
}