$navbar-item-img-max-height: 2.5rem;
@import "theme/_main";

// You can add additional styling here
@import "_example";

.iframe-box {
  padding: 24px;
  iframe {
    @extend .box;
    width: 80%;
    max-height: 80vh;
    margin-left: auto;   /* Automatic margin from left */ 
    margin-right: auto; /* Automatic margin from right */ 
    border: 1px solid #00000011;
  }
}